New logic: Swire would want to predict the abandonment couple of days before the end of the window. 
Fit training data with cart abandonment but only up to the last 2 windows of puchase or abandon. 
Then for the test data, test/predict only couples days in not wait untill the end of the window.

In [2]:
import pandas as pd
import numpy as np
# import os
# from sklearn.model_selection import train_test_split
# import statsmodels.api as sm
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score, roc_auc_score, classification_report, confusion_matrix
# import statsmodels.formula.api as smf
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.model_selection import StratifiedKFold, cross_validate
# from lightgbm import LGBMClassifier
# import xgboost as xgb
# from catboost import CatBoostClassifier
# #import duckdb

In [3]:
final_with_ga=pd.read_csv('final_with_ga_updated.csv')
pd.set_option('display.max_columns', None)

final_with_ga.head()

,CUSTOMER_ID,ANCHOR_DATE,NEXT_ANCHOR_SAME_WD,num_add_to_cart_events,total_items_added_to_cart,purchases,button_clicks,total_events,ABANDONED_CART,SALES_OFFICE,SALES_OFFICE_DESC,DISTRIBUTION_MODE,SHIPPING_CONDITIONS_DESC,FREQUENCY_CLEAN,DISTRIBUTION_MODE_DESC,WEEK_DAY_OF_ANCHOR_DATE,WINDOW_FREQUENCY,CUTOFFTIME__C,CREATED_DATE_EST,CREATED_DATE_UTC,ORDER_QUANTITY,ORDER_TYPE,MATERIAL_ID,ORDER_EXISTS
0,500245685,2025-02-17,2025-02-24,1,37,1,41,261,1,G111,"Draper, UT",OF,48 Hours,NaN,OFS,Monday,7,5:00:00 PM,NaN,NaN,NaN,NaN,NaN,0
1,500245685,2025-03-17,2025-03-24,1,37,1,11,44,1,G111,"Draper, UT",OF,48 Hours,NaN,OFS,Monday,7,5:00:00 PM,NaN,NaN,NaN,NaN,NaN,0
2,500245685,2025-04-14,2025-04-21,1,37,1,7,55,1,G111,"Draper, UT",OF,48 Hours,NaN,OFS,Monday,7,5:00:00 PM,NaN,NaN,NaN,NaN,NaN,0
3,500245685,2025-04-28,2025-05-05,1,37,1,4,38,1,G111,"Draper, UT",OF,48 Hours,NaN,OFS,Monday,7,5:00:00 PM,NaN,NaN,NaN,NaN,NaN,0
4,500245738,2024-11-20,2024-11-27,1,397,1,1,27,0,G111,"Draper, UT",OF,48 Hours,NaN,OFS,Wednesday,7,5:00:00 PM,2024-11-22,2024-11-22 18:46:16+00:00,13.0,MYCOKE360,"[np.float64(129254.0), np.float64(114756.0), n...",1